<p>
  courses works!
</p>

<!--<h2> {{ title }}</h2>
<img src= "{{ imageUrl }}" />      // String interpolation 
<img [src]="imageUrl"/>                // Property Binding
<div [attr.Colspan]="colSpan" ></div>  // Attribute binding

<button class= "btn btn-primary" [class.active]="isActive">Save</button> //class binding 
<button [style.backgroundColor] = "isActive ? 'blue' : 'white'" >Save</button>  //style binding

<button (click) = "onSave($event)">Save</button>  // event binding
-->
<!--    //Event Bubbling and stop event bubbling
<div (click) = "onDivClicked()">
<button (click) = "onSave($event)">Save</button>
</div>

<input (keyup.enter) = "onkeyPress()" />   //on keypress event

<input (keyup.enter) = "onKeyUp($event)"/>  
<input #email (keyup.enter) = "onPress(email.value) " />  //Template variable

 <input [value]="email" (keyup.enter)="email =$event.target.value; onKePress()" />  //Two way binding
<input [(ngModel)] = "email" (keyup.enter) ="onKePress()"/>   //Two-way binding 2nd  

-->